<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbox</title>
    <link rel="stylesheet" href="/css/outbox.css">
</head>

<body>
    <header>
        <h1>Outbox</h1>
        <a href="#">Sign out</a>
    </header>
    <section>
        <nav>
            <ul>
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Compose</a></li>
                <li><a href="#">Outbox</a></li>
            </ul>
        </nav>
        <table>
            <thead>
                <tr>
                    <th>Recipient's full name</th>
                    <th>Email Subject</th>
                    <th>Time Received</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < outboxMails.length; i++) { %>
                    <tr>
                        <td>
                            <input type="checkbox">
                            <%= outboxMails[i].recipientFullName %>
                        </td>
                        <td><a href="/email/<%= outboxMails[i].id %>">
                                <%= outboxMails[i].subject %>
                            </a></td>
                        <td>
                            <%= outboxMails[i].created_date %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </section>
    <div class="pagination">
        <% for (let i=0; i < totalPages; i++) { %>
            <a href="/outbox?page=<%= i + 1 %>">
                <%= i + 1 %>
            </a>
            <% } %>
    </div>
</body>

</html>